/* a style sheet for the new frontpage */
p.art { margin-right:5px }
div.date {
  background: #eee;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  float: left;
  text-align: center;
  margin: 1px 1px 1px 1px;
  line-height: 1.1em;
  padding: 2px;
  width: 6em;
  font-size: 10px;
  white-space: nowrap;
  color: #777;
}
 H4 { color: #FF0000; font-familiy:Arial,Helvetica,sans-serif }
 td.top {font-family: Arial,Geneva,Verdana,Helvetica,sans-serif; font-size:12 }
 pre { font-family:monospace,Courier }
 p.cl { color:#EE9500 }
 a.nodec { text-decoration:none }
 a.alnk { font-weight:bold; }
 table.left { margin-right:0.5cm; border:none; background-color:#DDDDDD; }
 table.lcell { border:1px solid #999; }
 table.right { margin-left:0.5cm; border:1px dashed #999; }
 p.clbox { width:50%; alignment:center; background-color:#FFD700; border-style:none; border-width:medium; border-color:#FFD700; padding:0.5cm ;  text-align:center }
 p.foot { background-color:#AAAAAA; color:#FFFFFF; border-style:none; border-width:medium; border-color:#AAAAAA; padding:0.5cm ; margin-top:0.1cm; margin-right:1cm; margin-left:1cm; text-align:center }
/* vim: set sw=2 ts=2 et nowrap ic: */
