
 hr.ns { background: black; border-style: none }
 div { padding-left:2mm; padding-right:2mm; }
 pre { font-familiy:monospace,Courier }
 p.cl { color:#EE9500 }
 p.clbox { width:50%; alignment:center; background-color:#FFD700; border-style:none; border-width:medium; border-color:#FFD700; padding:0.5cm ;  text-align:center }
 p.foot { background-color:#AAAAAA; color:#FFFFFF; border-style:none; border-width:medium; border-color:#AAAAAA; padding:0.5cm ; margin-top:0.1cm; margin-right:1cm; margin-left:1cm; text-align:center }
 td.top {font-family: Arial,Geneva,Verdana,Helvetica,sans-serif; font-size:12 }
 a.nodec { text-decoration:none }
 p.trans { font-size:8pt; text-align:right }




